:root {
  --dark: #0c0c0c;
  --white: #fff;
  --gray1: #778899;
  --gray2: #cccccc;
  --gray3: #f2f2f2;
  --gray4: #c0c0c0;
  --orange: #ffa500;
  --blue: #3366ff;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: "Arial, Helvetica, sans-serif";
  display: flex;
  justify-content: center;
  height: 90vh;
}

.container-box {
  background-color: var(--white);
  margin-top: 3rem;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  max-height: 800px;
  border-radius: 15px;
  text-align: center;
  overflow-y: auto;
}

.header {
  display: flex;
  background-color: var(--orange);
  border-radius: 15px 15px 0 0;
}

.image-container {
  width: 30%;
  height: 100%;
}

#itau-image {
  border-radius: 100px;
  margin-top: 5px;
  padding: 5px;
  width: 80%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

p {
  margin: 0;
  color: var(--black);
  font-weight: bold;
  font-size: 30px;
}

#text-2 {
  color: var(--gray3);
  font-size: 18px;
}

#text-3 {
  color: var(--gray1);
  font-size: 15px;
}

.footer-chat {
  background-color: var(--orange);
  padding: 18px;
  border-radius: 0 0 15px 15px;
}

#message-input {
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

#btn-submit {
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  padding: 10px;
}

#btn-submit:hover {
  background-color: var(--gray4);
  cursor: pointer;
  transition: 0.6s;
}

#export-button {
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  padding: 10px;
}

#export-button:hover {
  background-color: var(--gray4);
  cursor: pointer;
  transition: 0.6s;
}

.user-message {
  font-weight: bold;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
  margin: 10px 10px;
  border-radius: 15px;
  width: 40%;
  text-align: right;
  margin-left: auto;
}

.bot-message {
  font-weight: bold;
  background-color: var(--gray2);
  color: var(--dark);
  padding: 10px;
  margin: 10px 10px;
  border-radius: 15px;
  width: 60%;
  text-align: left;
  margin-right: auto;
}

.loan-option {
  font-weight: bold;
  color: var(--dark);
  cursor: pointer;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid var(--gray2);
  border-radius: 10px;
  background-color: var(--white);
  transition: background-color 0.6s;
  width: 90%;
}

.loan-option:hover {
  background-color: var(--gray3);
}
